/node_modules
/public/hot
/public/storage
/public/panel
/public/vendor
/public/fonts
/public/images
/public/css
/public/js
/public/robots.txt
/public/mix-manifest.json
/public/*.xml
/storage/*.key
/storage/media-library
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/assets/js/ziggy.js
/resources/assets/js/messages.js
/resources/assets/scss/_env.scss
